doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(type="text/css", rel="stylesheet", href="/javascripts/widget/css/rcarousel.css")
    script(type="text/javascript", src="/javascripts/widget/lib/jquery-1.7.1.min.js")
    script(type="text/javascript", src="/javascripts/widget/lib/jquery.ui.core.min.js")
    script(type="text/javascript", src="/javascripts/widget/lib/jquery.ui.widget.min.js")
    script(type="text/javascript", src="/javascripts/widget/lib/jquery.ui.rcarousel.min.js")
  body
    block content


